<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', path='CSS/styles.css') }}">
</head>
<body>
<nav class="navbar-tutorial-4">
    <ul>
        <li><a href="/Index/">Home</a></li>
        <li><a href="/Challenges/">Try our challenges!</a></li>
        <li><a href="/Tutorials/">Tutorials</a></li>
        <li><a href="/Reviews/">See the reviews!</a></li>
        <li><a href="/challenge/4/">Challenge 1</a></li>
        <li><a href="/Reviews-Submission/4">Review this challenge!</a></li>
    </ul>
</nav>

<div class="video-guide">
    <h1>Tutorial 4: Shell Injection</h1>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/dQw4w9WgXcQ?si=UoDoweQBdaDQjr7W" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>

<nav class="tutorial_bar">
    <ul>
        <li><a href="/tutorial/1">Tutorial 1</a></li>
        <li><a href="/tutorial/2">Tutorial 2</a></li>
        <li><a href="/tutorial/3">Tutorial 3</a></li>
        <li><a href="/tutorial/4">Tutorial 4</a></li>
        <li><a href="/tutorial/5">Tutorial 5</a></li>
    </ul>
</nav>

</body>
</html>