<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="http://127.0.0.1:8000/static/CSS/Tutorial.css">
</head>
<body>
<nav class="navbar-tutorial-4">
    <ul>
        <li><a href="http://127.0.0.1:8000/">Home</a></li>
        <li><a href="http://127.0.0.1:8000/tutorials.html">Tutorials</a></li>
        <li><a href="http://127.0.0.1:8000/Challenges.html">Challenges</a></li>
        <li><a href="http://127.0.0.1:8000/Reviews.html">Reviews</a></li>
        <li><a href="http://127.0.0.1:8000/Challenge_4.html">Challenge 4</a></li>
        <li><a href="http://127.0.0.1:8000/Challenges/Review_4.html">Review this Challenge</a></li>
    </ul>
</nav>

<div class="video-guide">
    <h1>Tutorial 4: Shell Injection</h1>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/dQw4w9WgXcQ?si=UoDoweQBdaDQjr7W" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>

<nav class="tutorial_bar">
    <ul>
        <li><a href="http://127.0.0.1:8000/Tutorial_1.html">Tutorial 1</a></li>
        <li><a href="http://127.0.0.1:8000/Tutorial_2.html">Tutorial 2</a></li>
        <li><a href="http://127.0.0.1:8000/Tutorial_3.html">Tutorial 3</a></li>
        <li><a href="http://127.0.0.1:8000/Tutorial_4.html">Tutorial 4</a></li>
        <li><a href="http://127.0.0.1:8000/Tutorial_5.html">Tutorial 5</a></li>
    </ul>
</nav>

</body>
</html>