<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="http://127.0.0.1:8000/static/CSS/Challenges.css">
</head>
<body>
<nav class="navbar_challenges">
    <ul>
        <li><a href="http://127.0.0.1:8000/">Home</a></li>
        <li><a href="http://127.0.0.1:8000/tutorials.html">Tutorials</a></li>
        <li><a href="http://127.0.0.1:8000/Challenges.html">Challenges</a></li>
        <li><a href="http://127.0.0.1:8000/Tutorial_5.html">Stuck?</a></li>
        <li><a href="http://127.0.0.1:8000/Challenges/Review_5.html">Want to leave a review?</a></li>
        <li><a href="http://127.0.0.1:8000/Reviews.html">Want to see reviews?</a></li>
    </ul>
</nav>

<div class="challenge">
    <h1>Challenge 5: Misconfigured Cronjobs</h1>

    <nav class="challenge_bar">
        <ul>
            <li><a href="http://127.0.0.1:8000/Challenge_1.html">Challenge 1</a></li>
            <li><a href="http://127.0.0.1:8000/Challenge_2.html">Challenge 2</a></li>
            <li><a href="http://127.0.0.1:8000/Challenge_3.html">Challenge 3</a></li>
            <li><a href="http://127.0.0.1:8000/Challenge_4.html">Challenge 4</a></li>
            <li><a href="http://127.0.0.1:8000/Challenge_5.html">Challenge 5</a></li>
        </ul>
    </nav>


    <form id="challengeForm">
        <form method="POST">
            <div class="input_flag">
                <label for="flag_5"></label>
                <input type="text" id="flag_5" name="flag_5" placeholder="Input flag found">
            </div>

            <button class="btn btn-primary" type="submit" onclick="submit_flag()">Submit</button>
        </form>
    </form>
</div>
<script src="http://127.0.0.1:8000/static/javascript/Challenge_5.js"></script>
</body>
</html>