<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Challenge 1</title>
    <link rel="stylesheet" href="{{ url_for('static', path='CSS/styles.css') }}">
</head>
<body>
<main>
    <div class="toggle-container">
        <label class="switch">
            <input type="checkbox" id="theme-toggle">
            <span class="slider"></span>
        </label>
        <p class="toggle-text">Toggle Dark/Light Mode</p>
    </div>

    <nav class="navbar_challenges" id="navbar">
        <ul>
            <li><a href="/Index/">Home</a></li>
            <li><a href="/Tutorials/">Tutorials</a></li>
            <li><a href="/Challenges/">Challenges</a></li>
            <li><a href="/tutorial/1">Stuck?</a></li>
            <li><a href="/Review-Submission/1">Want to leave a review?</a></li>
            <li><a href="/Reviews/">Want to see reviews?</a></li>
        </ul>
    </nav>

    <div class="title">
        <h1>Challenge 1: Permission Configuration</h1>
    </div>

    <div class="main-content">
        <div class="page-wrapper">
            <nav class="sidebar" id="sidebar">
                <h2>Challenges</h2>
                <a href="/challenge/1">Challenge 1</a>
                <a href="/challenge/2">Challenge 2</a>
                <a href="/challenge/3">Challenge 3</a>
                <a href="/challenge/4">Challenge 4</a>
                <a href="/challenge/5">Challenge 5</a>
            </nav>

            <div class="page-content">
                <div class="workspace-box">
                    <form class="challenge-form" id="challengeForm" method="POST">
                        <div class="input_flag">
                            <label for="flag_1"></label>
                            <input type="text" id="flag_1" name="flag_1" placeholder="Input flag found" required autocomplete="off">
                        </div>
                        <div id="feedbackMessage" style="color:red; margin-top: 10px;"></div>
                        <button id="submitBtn" class="btn btn-primary" type="submit">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
<script src="{{ url_for('static', path='JavaScript/Challenges/Challenge_1.js') }}"></script>
<script src="{{ url_for('static', path='JavaScript/Home/Dark_Light_toggle.js') }}"></script>
</body>
</html>