<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', path='CSS/styles.css') }}">
</head>
<body>
<nav class="navbar_challenges">
    <ul>
        <li><a href="/Index/">Home</a></li>
        <li><a href="/Tutorials/">Tutorials</a></li>
        <li><a href="/Challenges/">Challenges</a></li>
        <li><a href="/Tutorials/2">Stuck?</a></li>
        <li><a href="/Review-Submission/2">Want to leave a review?</a></li>
        <li><a href="/Reviews/">Want to see reviews?</a></li>
    </ul>
</nav>

<div class="challenge">
    <h1>Challenge 4: Shell Injection</h1>

    <nav class="challenge_bar">
        <ul>
            <li><a href="/challenge/1">Challenge 1</a></li>
            <li><a href="/challenge/2">Challenge 2</a></li>
            <li><a href="/challenge/3">Challenge 3</a></li>
            <li><a href="/challenge/4">Challenge 4</a></li>
            <li><a href="/challenge/5">Challenge 5</a></li>
        </ul>
    </nav>
    <form id = challengeForm>
        <form method="POST">
            <div class="input_flag">
                <label for="flag_4"></label>
                <input type="text" id="flag_4" name="flag_4" placeholder="Input flag found">
            </div>

            <button class="btn btn-primary" type="submit" onclick="submit_flag()">Submit</button>
        </form>
    </form>
</div>
<script src="http://127.0.0.1:8000/static/JavaScript/Challenges/Challenge_4.js"></script>
</body>
</html>