* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}
body {
    background-color: #181818;
    min-height: 100vh;
}

.navbar {
    display: flex;
    justify-content: center;
    align-content: center;
    position: relative;
}

.navbar ul{
    width: 500px;
    list-style-type: none;
    background-color: #121212;
    padding: 0;
    margin: 0;
    border-radius: 10px;
    justify-content: center;
    overflow: hidden;
}

.navbar ul:hover{
    border-radius: 10px;
}

.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    justify-content: center;
}

.navbar a:hover{
    background-color: #15292B;
    padding: 15px;
}

.navbar li{
    float: left ;
}

.review_submission_bar ul{
    width: 140px;
    list-style-type: none;
    background-color: #121212;
    padding: 0;
    margin: 0;
    border-radius: 10px;
    justify-content: center;
    overflow: hidden;
}

.review_submission_bar:hover{
    border-radius: 10px;
}

.review_submission_bar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    justify-content: center;
}

.review_submission_bar a:hover{
    background-color: #15292B;
    padding: 15px;
}

. {
    display: flex;
    justify-content: center;
    align-content: center;
    position: relative;
}

.navbar-tutorial-1 ul{
    width: 390px;
    list-style-type: none;
    background-color: #121212;
    padding: 0;
    margin: 0;
    border-radius: 10px;
    justify-content: center;
    overflow: hidden;
}

.navbar-tutorial-1 ul:hover{
    border-radius: 10px;
}

.navbar-tutorial-1 a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    justify-content: center;
}

.navbar-tutorial-1 a:hover{
    background-color: #15292B;
    padding: 15px;
}

.navbar-tutorial-1 li{
    float: left ;
}

.navbar-tutorial-2 {
    display: flex;
    justify-content: center;
    align-content: center;
    position: relative;
}

.navbar-tutorial-2 ul{
    width: 390px;
    list-style-type: none;
    background-color: #121212;
    padding: 0;
    margin: 0;
    border-radius: 10px;
    justify-content: center;
    overflow: hidden;
}

.navbar-tutorial-2 ul:hover{
    border-radius: 10px;
}

.navbar-tutorial-2 a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    justify-content: center;
}

.navbar-tutorial-2 a:hover{
    background-color: #15292B;
    padding: 15px;
}

.navbar-tutorial-2 li{
    float: left ;
}

.navbar-tutorial-3 {
    display: flex;
    justify-content: center;
    align-content: center;
    position: relative;
}

.navbar-tutorial-3 ul{
    width: 390px;
    list-style-type: none;
    background-color: #121212;
    padding: 0;
    margin: 0;
    border-radius: 10px;
    justify-content: center;
    overflow: hidden;
}

.navbar-tutorial-3 ul:hover{
    border-radius: 10px;
}

.navbar-tutorial-3 a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    justify-content: center;
}

.navbar-tutorial-3 a:hover{
    background-color: #15292B;
    padding: 15px;
}

.navbar-tutorial-3 li{
    float: left ;
}

.navbar-tutorial-4 {
    display: flex;
    justify-content: center;
    align-content: center;
    position: relative;
}

.navbar-tutorial-4 ul{
    width: 395px;
    list-style-type: none;
    background-color: #121212;
    padding: 0;
    margin: 0;
    border-radius: 10px;
    justify-content: center;
    overflow: hidden;
}

.navbar-tutorial-4 ul:hover{
    border-radius: 10px;
}

.navbar-tutorial-4 a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    justify-content: center;
}

.navbar-tutorial-4 a:hover{
    background-color: #15292B;
    padding: 15px;
}

.navbar-tutorial-5 li{
    float: left ;
}

.navbar-tutorial-5 {
    display: flex;
    justify-content: center;
    align-content: center;
    position: relative;
}

.navbar-tutorial-5 ul{
    width: 393px;
    list-style-type: none;
    background-color: #121212;
    padding: 0;
    margin: 0;
    border-radius: 10px;
    justify-content: center;
    overflow: hidden;
}

.navbar-tutorial-5 ul:hover{
    border-radius: 10px;
}

.navbar-tutorial-5 a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    justify-content: center;
}

.navbar-tutorial-5 a:hover{
    background-color: #15292B;
    padding: 15px;
}

.navbar-tutorial-1 li{
    float: left ;
}

.video-guide {
    text-align: center;
}