<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', path='CSS/styles.css') }}">
</head>
<body>
<nav class="navbar_challenges">
    <ul>
        <li><a href="/Index/">Home</a></li>
        <li><a href="/Tutorials/">Tutorials</a></li>
        <li><a href="/Challenges">Challenges</a></li>
        <li><a href="/Reviews/">Reviews</a></li>
        <li><a href="/challenge/3">Want to attempt this challenge?</a></li>
    </ul>
</nav>

<form id="Submission" method="post">
    <label for="title">Review Title:</label>
    <input type="text" id="title" name="title">
    <label for="review">Review:</label>
    <textarea type="text" id="review" name="review"></textarea>
    <label for="rating">Ranking:</label>
    <input type="number" maxlength="3" min="0" max="5.0" step="0.1" placeholder="2.5" id="rating" name="rating">
    <button class="btn btn-primary" type="Submit">Submit!</button>
</form>
<script src="http://127.0.0.1:8000/static/javascript/Review_3.js"></script>
</body>
</html>