<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="http://127.0.0.1:8000/static/CSS/Reviews.css">
</head>
<body>
<nav class="navbar_reviews">
    <ul>
        <li><a href="http://127.0.0.1:8000/">Home</a></li>
        <li><a href="http://127.0.0.1:8000/tutorials.html">Tutorials</a></li>
        <li><a href="http://127.0.0.1:8000/Challenges.html">Challenges</a></li>
        <li><a href="http://127.0.0.1:8000/Reviews.html">Reviews</a></li>
        <li><a href="http://127.0.0.1:8000/Challenge_1.html">Want to attempt this challenge?</a></li>
    </ul>
</nav>

<form id="Submission" method="post">
    <label for="title">Review Title:</label>
    <input type="text" id="title" name="title" required>
    <label for="review">Review:</label>
    <textarea type="text" id="review" name="review" required></textarea>
    <label for="rating">Ranking:</label>
    <input type="number" maxlength="3" min="0" max="5.0" step="0.1" placeholder="2.5" id="rating" name="rating">
    <button class="btn btn-primary" type="Submit">Submit!</button>
</form>
<script src="http://127.0.0.1:8000/static/javascript/Review_1.js"></script>
</body>
</html>