<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="http://127.0.0.1:8000/static/CSS/Reviews.css">
</head>
<>
<nav class="navbar">
    <ul>
        <li><a href="http://127.0.0.1:8000/">Home</a></li>
        <li><a href="http://127.0.0.1:8000/tutorials.html">Watch our tutorials!</a></li>
        <li><a href="http://127.0.0.1:8000/Challenges.html">Try our challenges!</a></li>
        <li><a href="http://127.0.0.1:8000/login.html">Log in</a></li>
        <li><a href="http://127.0.0.1:8000/signup.html">Register an Account</a></li>
    </ul>
</nav>

<nav class="review_submission_bar">
    <ul>
        <li><a href="http://127.0.0.1:8000/Challenges/Review_1.html">Review challenge 1!</a></li>
        <li><a href="http://127.0.0.1:8000/Challenges/Review_2.html">Review challenge 2!</a></li>
        <li><a href="http://127.0.0.1:8000/Challenges/Review_3.html">Review challenge 3!</a></li>
        <li><a href="http://127.0.0.1:8000/Challenges/Review_4.html">Review challenge 4!</a></li>
        <li><a href="http://127.0.0.1:8000/Challenges/Review_5.html">Review challenge 5!</a></li>
    </ul>
</nav>

<main>
    <h1>Reviews</h1>
    <div id="review-container"></div>

    <script src="http://127.0.0.1:8000/static/javascript/reviews.js"></script>
</main>
</body>
</html>