<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="http://127.0.0.1:8000/static/CSS/Tutorial.css">
</head>
<body>
<nav class="navbar">
    <ul>
        <li><a href="http://127.0.0.1:8000/">Home</a></li>
        <li><a href="http://127.0.0.1:8000/Challenges.html">Try our challenges!</a></li>
        <li><a href="http://127.0.0.1:8000/Reviews.html">See the reviews!</a></li>
        <li><a href="http://127.0.0.1:8000/login.html">Log in</a></li>
        <li><a href="http://127.0.0.1:8000/signup.html">Register an Account</a></li>
    </ul>
</nav>

<br>

<nav class="tutorial_bar">
    <ul>
        <li><a href="http://127.0.0.1:8000/Tutorial_1.html">Tutorial 1</a></li>
        <li><a href="http://127.0.0.1:8000/Tutorial_2.html">Tutorial 2</a></li>
        <li><a href="http://127.0.0.1:8000/Tutorial_3.html">Tutorial 3</a></li>
        <li><a href="http://127.0.0.1:8000/Tutorial_4.html">Tutorial 4</a></li>
        <li><a href="http://127.0.0.1:8000/Tutorial_5.html">Tutorial 5</a></li>
    </ul>
</nav>
</body>
</html>