<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', path='CSS/styles.css') }}">
</head>
<body>
<main>
    <div class="toggle-container">
        <label class="switch">
            <input type="checkbox" id="theme-toggle">
            <span class="slider"></span>
        </label>
        <p class="toggle-text">Toggle Dark/Light Mode</p>
    </div>

    <nav class="navbar">
        <ul>
            <li><a href="/Index/">Home</a></li>
            <li><a href="/Challenges/">Try our challenges!</a></li>
            <li><a href="/Reviews/">See the reviews!</a></li>
            <li><a href="/Profile/">Profile</a></li>
            <li><a href="/api/Logout/">Logout</a></li>
        </ul>
    </nav>

    <div class="main-content">
        <div class="page-wrapper">

            <!--Sidebar-->
            <div class="sidebar" id="Tutorial_bar">
                <h2>Tutorials</h2>
                <a href="/tutorial/1">Tutorial 1</a>
                <a href="/tutorial/2">Tutorial 2</a>
                <a href="/tutorial/3">Tutorial 3</a>
                <a href="/tutorial/4">Tutorial 4</a>
                <a href="/tutorial/5">Tutorial 5</a>
            </div>

            <div class="page-content">
                <div class="overview-card">
                    <h2>Overview</h2>
                    <p>
                        Each tutorial contains a video walkthrough to help you solve the respective challenge.
                        In addition, some challenges may also include a detailed write-up to deepen your understanding.
                    </p>
                </div>
            </div>
        </div>
    </div>
</main>
<script src="{{ url_for('static', path='JavaScript/Home/Dark_Light_toggle.js') }}"></script>
</body>
</html>