<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', path='CSS/styles.css') }}">
</head>
<body>
    <nav class="navbar">
        <ul>
            <li><a href="/Index/">Home</a></li>
            <li><a href="/Challenges/">Try our challenges!</a></li>
            <li><a href="/Reviews/">See the reviews!</a></li>
            <li><a href="/Login/">Log in</a></li>
            <li><a href="/Signup/">Register an Account</a></li>
        </ul>
    </nav>

    <div class="main-content">
        <div class="page-wrapper">

            <!--Sidebar-->
            <div class="sidebar" id="Tutorial_bar">
                <h2>Tutorials</h2>
                <a href="/tutorial/1">Tutorial 1</a>
                <a href="/tutorial/2">Tutorial 2</a>
                <a href="/tutorial/3">Tutorial 3</a>
                <a href="/tutorial/4">Tutorial 4</a>
                <a href="/tutorial/5">Tutorial 5</a>
            </div>

            <div class="page-content">
                <h2>Overview</h2>
                Each tutorial contains a link to a video which will help solve the respective challenge. A writeup for
                each challenge may also join the link.
            </div>
        </div>
    </div>
</body>
</html>